<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note Edit</title>
</head>
<body>
    <h1 style="color: red;">***Note update***</h1>
    <form th:action="@{/note/edit}" method="post">
        <input type="hidden" name="id" th:value="${note.id}"/>
        <p>Title:
            <input type="text" name="title" th:value="${note.title}">
        </p>
        <p>Content:
            <textarea name="content" th:text="${note.content}">
            </textarea>
        </p>
        <button style="background-color: red; color: black" type="submit">Save</button>
    </form>
</body>
</html>