<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note List</title>
</head>
<body>
    <h1 style="color: blue;">***Note list***</h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>
        <tr th:each="note :${notes}">
            <td th:text="${note.title}">Title</td>
            <td th:text="${note.content}">Content</td>
            <td>
                <form th:action="@{/note/delete}" method="post" style="display:inline;">
                    <input type="hidden" name="id" th:value="${note.id}"/>
                    <button type="submit">Delete</button>
                </form>
                <form th:action="@{/note/edit}" method="get" style="display:inline;">
                    <input type="hidden" name="id" th:value="${note.id}"/>
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>